[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
requests = "*"
pymongo = "*"
dnspython = "*"
ruptures = "*"

[requires]
python_version = "3.5"
